footer {
  background-color: #CDC0CC;
  padding: 20px 0;
  border-top: 1px solid #CDC0CC;
}

footer p {
  margin: 0;
}

.col-md-6{
  color: #76596E;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #666666;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #00acee;
}