footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

footer ul li {
  display: inline-block;
  margin-left: 10px;
}

footer ul li:first-child {
  margin-left: 0;
}