footer {
  background-color: #CDC0CC;
  padding: 20px 0;
  border-top: 1px solid #CDC0CC;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

footer ul li {
  display: inline-block;
  margin-left: 10px;
}

footer ul li:first-child {
  margin-left: 0;
}
.col-md-6{
  color: #76596E;
}